
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
}

.app-name {
  background: url("src/assets/water_background2.jpg");;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  display: flex;
  align-items: center;
}

.landing-page-title {
  margin-left: 5rem;
  color: white;
}

.app-name h1 {
  font-size: 5rem;
}

#translation {
  font-style: italic;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}